.App{
  height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

