.loginRegisterForm{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    box-shadow: 0px 5px 20px gray;
    background: white;
    min-width: 35%; 
    min-height: auto;
    padding: 1em 3em;
}

.loginRegisterFormInput, .loginRegisterSubmit{
    
    margin-bottom: 1em;
    display: inline-block;
    outline: none;
    border: 1px solid;
    border-radius: 20px;
    text-decoration: none;
    padding: 0.5em;
    margin-top: 1em;
}