header{
    display: flex;
    flex-direction: row;
    
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    min-height: 50px;
    max-height: 60px;
    background: #1f1f1f;
    
}

header>*{
    padding: 0.5em 1em;
}

.logo, .logodiv{
    height: inherit;
}
  
Link{
  color: white;
  text-decoration: none;
}



form, nav, .menu-left-ul{
    display: inherit;
    flex-direction: inherit;
}

nav{
    flex-direction: inherit;
}

.ImgButton{
    order: -1;
}

.LoginButton{
    margin-left: auto;
}

.UpperMenu{
    padding: 0.25em;
}

.searchButton{
    background-color: #b2ff59;
}

.searchBar{
    background-color: #4d4d4d;
    border: none;
    border-radius: 0.5em 0 0 0.5em;
    padding-left: 1em;;
    outline: none;
}

