.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px gray;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 35%; 
    padding: 1em 3em;
}

h1{
    padding-bottom: 0.75em;
}